<div class="container-chef-show">
  <div class="profile text-center">
    <div class="main">
      <div class="main-content">
        <%= cl_image_tag(@chef.photo, width: 250, height: 250, crop: :fill, class:"img-circle") %>
        <div class="chef-info">
          <h2><%= @chef.name %></h2>
          <p><%= @chef.title %></p>
          <% if current_user && current_user.id == @chef.user_id %>
          <p>This is your listing!</p>
          <%= button_to "Delete", chef_path(@chef), class:"profile. btn", method: :delete %>
          <% else %>
          <%= button_to "Book this chef", chef_bookings_path(@chef), class:"profile. btn" %>
          <% end %>
          <%= link_to "Go Back", chefs_path , class:"profile. btn"  %>
        </div>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>5/5</h3>
        <p>Rating</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>187</h3>
        <p>Meals Total</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>22</h3>
        <p>Dishes</p>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about this chef</h3>
        <p class="text-justify">
          <%= @chef.description.nil? ? "No description available" : @chef.description %>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 600px;" data-markers="<%= @markers.to_json %>">
</div>










