<h1>This is the chef show page</h1>
<p>Name: <%= @chef.name %> </p>
<p>Title: <%= @chef.title %>
<p>Description: <%= @chef.description %>
<p>Price: <%= @chef.price %>
  <hr>
<%= link_to "Book Chef", new_chef_booking_path(@chef)  %>
  <hr>

<%= link_to "Go Back", chefs_path  %>

