<h1>Messages</h1>
<hr>
<h3>Your Requests</h3>
<hr>
<ul>
  <% Booking.all.each do |booking| %>
  <li>
   <p>
     <%= Chef.find(booking.chef_id).name %>
   </p>

   <p>
    <%= booking.confirmation ? "This booking is confirmed!": "Pending"%>
  </p>

  <p>ID of User (Chef) who created the listing: <%= booking.chef.user_id %> </p>

  <p>ID of User who requested this listing <%= booking.user_id %> </p>

  <% if current_user.id == booking.chef.user_id %>
  <%# THIS WILL BE DISPLAYED IF THE CURRENT USER IS THE BOOKING CHEF %>
  <%= link_to "Confirm This Booking!", "#" %>
  <% else %>
  <%# THIS WILL BE DISPLAYED IF THE CURRENT USER IS NOT THE BOOKING CHEF %>
  <% end %>
  <%= button_to "Cancel this booking", booking_path(booking), method: :delete %>
  <%= link_to "See this booking", dashboard_path %>
  <hr>
</li>
<% end %>

</ul>
