<h1>Messages</h1>
<hr>
<h3>Requests You've Received</h3>
<% if current_user.is_chef? %>
<ul>
  <% Booking.all.each do |booking| %>
  <% if current_user.id == booking.chef.user_id %>
  <h4> You have a new request!</h4>
  <p>User requesting this booking: <%= link_to User.find(booking.user_id).email, "#"  %> </p>
  <p> <%= booking.created_at %> </p>
  <p> <%= booking.confirmation ? "This booking is confirmed!" : "Awaiting your approval:" %> </p>
  <% end %>
  <% end %>

  <% else %>

  <ul>
    <p>
      <h4>You're not a chef! You can't receive requests!</h4>
    </p>
  </ul>
  <% end %>

</ul>

<hr>
<h3>Requests You've Sent</h3>
<ul>
  <% Booking.all.each do |booking| %>
  <% if current_user.id == booking.user_id%>
  <h4> You've sent a new request!</h4>
  <p>Chef you've requested: <%= link_to Chef.find(booking.chef.id).name, "#"  %> </p>

  <p> <%= booking.created_at %> </p>

  <p> <%= booking.confirmation ? "This booking is confirmed!" : "Awaiting Chef's approval" %> </p>
  <hr>
  <% end %>
  <% end %>
</ul>
